{
  "root": true,
  "env": {
    "jest": true
  },
  "plugins": ["jest"],
  "extends": [
    "plugin:jest/recommended",
    "xo",
    "xo-typescript",
    "prettier",
    "prettier/@typescript-eslint"
  ],
  "rules": {
    "valid-jsdoc": [
      "warn",
      {
        "requireReturnType": false,
        "requireParamType": false,
        "prefer": {
          "return": "returns"
        }
      }
    ],
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/camelcase": [
      "error",
      {
        "properties": "never",
        "ignoreDestructuring": true
      }
    ]
  }
}
